# Secrets
**/.env*
!**/.env.example

# Dependencies
.venv/
uv.lock

# Build Artifacts
**/__pycache__/
dist/
*.egg-info/

# Tooling
.pytest_cache/
.ruff_cache/
**/.vscode/*
!**/.vscode/extensions.json
.claude/*
!.claude/agents/
!.claude/references/
!.claude/rules/
!.claude/skills/
!.claude/settings.json

# Meta
**/.DS_Store
