[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.black]
color = true
line-length = 88
skip-string-normalization = true
target-version = ['py311']

[tool.isort]
combine_as_imports = true
include_trailing_comma = true
known_first_party = "pydantic"
line_length = 88
multi_line_output = 3
profile = "black"

[tool.mypy]
check_untyped_defs = true
disallow_any_decorated = false
disallow_any_explicit = false
disallow_any_expr = false
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_subclassing_any = true
disallow_untyped_calls = true
disallow_untyped_defs = true
explicit_package_bases = true
ignore_missing_imports = true
namespace_packages = true
no_implicit_optional = true
no_implicit_reexport = true
python_version = "3.11"
show_error_codes = true
strict_concatenate = true
strict_equality = true
strict_optional = true
warn_no_return = true
warn_redundant_casts = true
warn_unreachable = true
warn_unused_configs = true
warn_unused_ignores = true

[tool.poetry]
authors = ["Meryll Dindin <merylldin@gmail.com>"]
description = "AWS routines for Python projects"
name = "sirtuin"
readme = "README.md"
version = "0.1.1"

[tool.poetry.dependencies]
pydantic = ">=1.10"
python = ">=3.10,<3.12"
pyyaml = "^6.0"
tomli = "^2.0"
typer = {extras = ["all"], version = "^0.9"}

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
black = "^23.0"
isort = "^5.10"
mypy = "^1.0"
pytest = "^7.2"
pytest-cov = "^4.0"
ruff = "^0.0"
toml-sort = "^0.23"

[tool.poetry.group.types]
optional = true

[tool.poetry.group.types.dependencies]
types-pyyaml = "^6.0"

[tool.poetry.scripts]
sirtuin = "sirtuin.main:cli"

[tool.pytest.ini_options]
addopts = "--no-header -rA"
pythonpath = ["."]

[tool.ruff]
extend-select = ["Q"]
line-length = 88
target-version = "py311"
