option_settings:

  - namespace: aws:elasticbeanstalk:application
    option_name: Application Healthcheck URL
    value: "$_HealthCheckPath_$"

  - namespace: aws:elb:healthcheck
    option_name: Interval
    value: "$_HealthCheckInterval_$"

  - namespace: aws:elb:healthcheck
    option_name: HealthyThreshold
    value: "3"

  - namespace: aws:elb:healthcheck
    option_name: Timeout
    value: "$_HealthCheckTimeout_$"

  - namespace: aws:elb:healthcheck
    option_name: UnhealthyThreshold
    value: "3"

  - namespace: aws:elb:healthcheck
    option_name: Target
    value: "$_HealthCheckPath_$"
